.header {
    width: 80%;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #fff;

    .logo {
        display: flex;
        align-items: center;
    }

    .right-nav {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: space-around;

        .nav-item {
            display: flex;
            align-items: center;
        }
    }
}
